* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
button {
  flex: 1;
  padding: 5px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
p {
  font-size: 18px;
}
img {
  width: 100%;
}
label {
  margin-left: 3px;
}
input {
  font-weight: bold;
}
input:focus-visible {
  outline: none;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.title {
  margin: 0 0 10px;
  font-size: clamp(18px, 2vw + 1vh, 34px);
}


/*  */
.pg-wrapper {
  margin: auto 0;
  flex-wrap: wrap;
}
.pg-inputGroup {
  margin-bottom: 5px;
}
.pg--input_wrapper {
  position: relative;
  width: calc(100% - 150px);
  min-width: 150px;
  height: 34px;
}
.pg--input {
  width: 100%;
  height: 100%;
  padding: 0 4px;
  border-radius: 0px;
  border: 5px solid rgb(38, 38, 38);
  background: #ffffff;
}
.pg--btn-copy {
  position: absolute;
  top: 0%;
  right: 4px;
  height: 100%;
  width: 20px;
  background: transparent;
  background: url('../image/copy.svg') center;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: -3px 50%;
}
.pg--btn-generate {
  flex: 1;
  margin-left: 5px;
  background-color: rgb(38, 38, 38);
  background-image: url('../image/renew.svg');
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #ffffff;
}

/*  */
.pg--length_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 21px 0 5px ;
  padding-left: 3px;
  font-size: 12px;
  border: 5px solid rgb(38, 38, 38);
}
.pg--length {
  border: none;
  max-width: 20px;
  height: 100%;
  background: transparent;
}
.pg--btn-length {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 10px;
  background: rgb(38, 38, 38);
  color: #fff;
  left: calc(100% + 10px)
}
.pg--btn-lengthPlus {
  top: -5px;
}
.pg--btn-lengthMinus {
  bottom: -5px;
}

/*  */
.pg-checkboxGroup {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.pg-checkbox {
  margin-right: 10px;
  width: calc(25% - 10px);
  min-width: 56px;
}
.pg--checkbox {
  margin: 0;
  position: absolute;
  z-index: -1;
  opacity: 0; 
}
.pg--checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.pg--checkbox+label::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid rgb(38, 38, 38);
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.pg--checkbox:checked+label::before {
  border-color: rgb(38, 38, 38);
  background-color: rgb(38, 38, 38);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-size: 65%;
}

.pg--btn-generate:hover {
  opacity: 0.9;
}
.pg--btn-copy:hover {
  opacity: 0.8;
}
.pg--input:focus-visible {
  border-radius: 0px;
  outline: none;
}
.pg--btn-length:hover {
  opacity: 0.9;
}
@media (max-width: 340px)  {
  .pg--input_wrapper {
    width: 100%;
    margin-bottom: 5px;
  }
  .pg--length_wrapper {
    margin-left: 0;
  }
  .pg--btn-generate {
    height: 34px;
  }
}